<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular5</h1>
                <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="userName" placeholder="Email"
                               #UserName ngModel name="UserName">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register Office branch</a>
            </form>
        </div>
    </div>
</div>


<!--<div class="login-page" [@routerTransition]>-->
    <!--<mat-card>-->
        <!--<mat-card-content>-->
            <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
                <!--<p>Please login to continue</p>-->
                <!--<mat-form-field class="full-width-input">-->
                    <!--<input matInput placeholder="User" formControlName="userName" required>-->
                    <!--<mat-error *ngIf="isFieldInvalid('userName')">-->
                        <!--Please inform your user name-->
                    <!--</mat-error>-->
                <!--</mat-form-field>-->
                <!--<mat-form-field class="full-width-input">-->
                    <!--<input matInput type="password" placeholder="Password" formControlName="password" required>-->
                    <!--<mat-error *ngIf="isFieldInvalid('userName')">-->
                        <!--Please inform your password-->
                    <!--</mat-error>-->
                <!--</mat-form-field>-->
                <!--<button mat-raised-button color="primary">Login</button>-->
            <!--</form>-->
        <!--</mat-card-content>-->
    <!--</mat-card>-->
<!--</div>-->
